/* adding a darkred color and appropriate spacing with margin-bottom rule */
p {
	color: darkred;
	margin: 12px;
}

/* formatting the level two headers with purple color and alignment with margin-top rule */
h2 {
	color: purple;
	margin: 16px;
}

/* making a table border and making the border color deeppink */
table {
	border-collapse: collapse;
}

table,
th,
td {
	border-style: solid;
	border-width: 2px;
	border-color: deeppink;
}

p#spotlight {
	background-color: white;
	padding: 8px;
}

.accent {
    color: green;

    /* adding a darkred color and appropriate spacing with margin-bottom rule */

    p {
        color: darkred;
        margin: 12px;
    }

    /* formatting the level two headers with purple color and alignment with margin-top rule */

    h2 {
        color: purple;
        margin: 16px;
    }

    /* making a table border and making the border color deeppink */

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border-style: solid;
        border-width: 2px;
        border-color: deeppink;
    }

    p#spotlight {
        background-color: white;
        padding: 8px;
    }

    .accent {
        color: green;
    }

    img.logo {
        width: 220px;
        height: 100px;
    }
}
